<%- include ("include/_header") %>

<div class="max-w-lg mx-auto bg-white p-8 rounded-lg shadow-lg">
  <!-- Flex container for heading and button -->
  <div class="flex justify-between items-center mb-6">
    <!-- All Users button -->
    <a href="/" class="text-blue-500 hover:text-blue-700 flex items-center  rounded-lg pr-1 ">
      <!-- Back arrow icon -->
      <span class="mr-2 text-xl">&lt;&lt;</span>
      All Users
    </a>
    <!-- Add New User heading (centered) -->
    <h1 class="text-2xl font-bold text-gray-700 flex-1 ml-8 ">Update the User</h1>
  </div>

  <!-- Form for adding new user -->
  <form id="update_user" method="POST"  >
    <div class="mb-4">
      <label for="name" class="block text-gray-700 font-semibold">Name:</label>
      <input  type="hidden" name="id" value="<%= user._id %>" >
      <input type="text" id="name" name="name" required value= "<%= user.name %>" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400">
    </div>
    <div class="mb-4">
      <label for="email" class="block text-gray-700 font-semibold">Email:</label>
      <input type="email" id="email" name="email" required value= "<%= user.email %>" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400">
    </div>
    <div class="form-group">
      <label for="gender" class="text-light">Gender</label>
      <div class="radio inline">
          <input type="radio" id="radio-2" name="gender" value="Male" <%= user.gender == 'Male' ? 'checked' : '' %>>
          <label for="radio-2" class="radio-label">Male</label>
      </div>
      <div class="radio inline">
          <input type="radio" id="radio-3" name="gender" value="Female"  <%= user.gender == 'Female' ? 'checked' : '' %> >
          <label for="radio-3" class="radio-label">Female</label>
      </div>
  </div>

  <div class="form-group">
      <label for="gender" class="text-light">Status</label>
      <div class="radio inline">
          <input type="radio" id="radio-4" name="status" value="Active" <%= user.status == 'Active' ? 'checked' : '' %> >
          <label for="radio-4" class="radio-label">Active</label>
      </div>
      <div class="radio inline">
          <input type="radio" id="radio-5" name="status" value="Inactive" <%= user.status == 'Inactive' ? 'checked' : '' %> >
          <label for="radio-5" class="radio-label">Inactive</label>
      </div>
  </div>

    
    <button id="update_button" class="w-full bg-blue-500 text-white py-2 rounded-lg hover:bg-blue-600">Update</button>
  </form>
</div>
<%- include ("include/_footer") %>

