<% for(i=0;i< users.length;i++){ %> 

<tr class="border-t">
    <td class="p-3"><%= i+1 %></td>
    <td class="p-3"><%= users[i].name %></td>
    <td class="p-3"><%= users[i].email %></td>
    <td class="p-3"><%= users[i].gender %></td>
    <td class="p-3"><%= users[i].status %></td>
    <td class="p-3">
      <a href="/update-user/?id=<%= users[i]._id %>" class="text-blue-500" id="update-user" >Edit</a> | 
      <button 
      class="text-red-500 delete-btn" 
      data-id="<%= users[i]._id %>">Delete</button>

    </td>
  </tr>
  <% } %>